body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
}
h1:hover {
	color: darkgrey;
	font-size: 900px;
	transform: rotate(180deg);
}

.button-dec {
	color: black;
	background-color: yellow;
	border: solid 1px red;
	border-radius: 20px;
}
